{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-body p-4">
                <h3 class="text-center mb-4">Yangi parol o'rnatish</h3>
                
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label class="form-label">Yangi parol</label>
                        <input type="password" name="new_password" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Yangi parolni tasdiqlang</label>
                        <input type="password" name="confirm_password" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-success w-100">Parolni o'zgartirish</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}